* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif, Arial;
  background-color: #ffffff;
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

